#imgas{
    
    line-height:70px;
    background-color:rgb(6, 248, 127);
    text-align:left;
    ;
    font-variant:small-caps;
    clear:both;
    margin-top: -16px;
    margin-left: -16px;
    margin-bottom: -16px;
    margin-right: -16px;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    font-size: 20px;
}

#header{
    margin: -auto;
    background-color: #000000;
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: -10px;
    margin-right: -15px;
}
nav{
    display:flex;
    justify-content: space-between;
    justify-items: center;
}
#logo img{
    max-width: 120px;
    height: auto;
    justify-self: left;
    justify-content: space-between;
}
#main-menu{
    list-style: none;
    display:flex;
}
#main-menu li:hover a{
    color:blue;;
    position:relative;
   
}
#main-menu li a{
    color: #f8f8f8;
    display: block;
    padding: 18px 20px;
    text-decoration: none;
}
#main-menu ul.menuxe{
    position:absolute;
    background-color: #131921 ;
    padding: 15px 0px;
    list-style: none;
    width: 200px;
    display: none;
}
#main-menu li:hover ul.menuxe{
    display: contents;
}
#main-menu ul.menuxe a{
    padding: 8px 15px;
    border-bottom: 1px solid #434343 ;
    
}
#main-menu>li>a{
    position: relative;
}
#main-menu>li>a::before{
    content: "";
    height: 4px;
    width: 0px;
    background-color: rgb(151, 144, 144);
    position:absolute;
    bottom: 0px;
    left: 0px;
   
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#main-menu>li:hover>a::before{
    width: 100%;
}
#main-menu .menuxe li:hover a{
    color: red;
    font-size: 25px;
}